{% extends 'base.html' %} {% load static%} {% block content %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Registration</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">

<style>
    .myform {
        margin-top: 200px;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    h1 {
        text-align: center;
        color: rgb(36, 36, 68);
        font-weight: bolder;
    }
</style>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'images/doc.webp' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"style="text-align: justify;">How type-2 diabetes can be reversed in young people without medication.</h5>
    
    <a href="https://indianexpress.com/article/opinion/columns/shashank-joshi-writes-type-2-diabetes-reversed-young-people-modern-lifestyles-medication-calories-digital-care-8265863/" class="btn btn-primary" target="_blank">View</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'images/doc.webp' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"style="text-align: justify;">Dietary Variation among Children Meeting and Not Meeting Minimum Dietary Diversity.</h5>
      
      <a href="https://academic.oup.com/jn/advance-article-abstract/doi/10.1093/jn/nxaa223/5893500?redirectedFrom=fulltext" class="btn btn-primary" target="_blank">View</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 10px;">
    <img class="card-img-top" src="{% static 'images/doc.webp' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"style="text-align: justify;">POSHAN : The Magic Of Millets </h5>
      
      <a href="https://poshan.outlookindia.com/story/poshan-news-the-magic-of-millets/359836?fbclid=IwAR1G4fAqStx7uNPOW2PugkNIwfozgKglGgV1zWxbaon72lqZKSPqsoI-wjE" class="btn btn-primary" target="_blank">View</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin-top: 10px;">
    <img class="card-img-top" src="{% static 'images/doc.webp' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="text-align: justify;">Ministry of Women and Child Development signs MoU with Ministry of AYUSH for integration of AYUSH systems with ongoing nutrition interventions under the ICDS program.</h5>
      
      <a href="https://pib.gov.in/PressReleasePage.aspx?PRID=1656966" class="btn btn-primary" target="_blank">View</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;margin-top: 10px;">
    <img class="card-img-top" src="{% static 'images/doc.webp' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="text-align: justify;">Challenges and opportunities for better nutrition science—an essay by Tim Spector and Christopher Gardner</h5>

      <a href="https://www.bmj.com/content/369/bmj.m2470" class="btn btn-primary" target="_blank">View</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin-top: 10px;">
    <img class="card-img-top" src="{% static 'images/doc.webp' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="text-align: justify;">Effect of an Education Program on Nutrition Knowledge, Attitudes toward Nutrition, Diet Quality, Lifestyle, and Body Composition in Polish Teenagers. The ABC of Healthy Eating Project: Design, Protocol, and Methodology
      </h5>

      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6213798/" class="btn btn-primary" target="_blank">View</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin-top: 10px;">
    <img class="card-img-top" src="{% static 'images/doc.webp' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="text-align: justify;">Level of nutrition knowledge and its association with fat consumption among college students    </h5>

      <a href="https://bmcpublichealth.biomedcentral.com/articles/10.1186/s12889-016-3728-z" class="btn btn-primary" target="_blank">View</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin-top: 10px;">
    <img class="card-img-top" src="{% static 'images/doc.webp' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="text-align: justify;">Ecosystems and human well-being: Health synthesis</h5>

      <a href="https://www.who.int/globalchange/publications/ecosystems05/en/" class="btn btn-primary" target="_blank">View</a>
    </div>
  </div>
{% endblock %}
